{{> header}}
{{> navbar}}

<div class="container article">
    <div class="px-5">
        {{#if isLogin}}
        <div class="text-end mb-2">
            <a href="/article-edit/{{article.id}}" class="btn-edit"><img src="/public/icons/edit.svg" alt=""></a>
            <a href="/article-delete/{{article.id}}" class="btn-delete"><img src="/public/icons/delete.svg" alt=""></a>
        </div>
        {{/if}}

        <img src="{{article.image}}" alt="" class="img-main img-fluid">

        <h4 class="mt-4">{{article.title}}</h4>

        <p>{{article.content}}</p>

    </div>
</div>


{{> footer}}